body{
    background:rgb(92, 136, 48) ;
    font-family: Arial, sans-serif;
    font-style: italic;
    margin: 10px;
    padding: 5px;
}
header{
    background: rgb(104, 160, 55);
    border-radius: 8px;
    text-align: center;
    padding: 10px;

}
.logo img{
    width: 200px;

}
.container{
    width: 100%;
}
.about{
    
    text-align: center;
    border-radius: 10px;
    
}
.about button{
    color: aqua;
    background-color: rgb(10, 10, 255);
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    
}
.media{
    display: flex;
    text-align: center;
    margin-left: 130px;
}

.industrymid, .infrastructuremid{
border-radius: 10px;
background: rgb(104, 160, 55);
margin: 10px;
width: auto;
}
.innovation{
    text-align: center;
}
.vid{
    border-radius: 20px;
}
.media img{
width: 400px;

}
footer{
    background-color: rgb(104,160,55);
    border-radius: 10px;
    padding: 10px;
    
}
.text{
    text-align: center;
}
.hd{
    text-align: center;
}


input{
    display: block;
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 1250px;
    border-radius: 10px;
}
.contact{
    text-align:center ;
}
.contact button{
    background: rgb(10, 10, 255);
    cursor: pointer;
    border-radius: 10px;
    padding: 10px
}


.achievements{
    display: flex;
    margin-left: 350px;
}
.can{
    text-align: center;
}
.img1,.img2{
    border-radius: 10px;
    margin: 10px;
}


.team img{
    width: 600px;
    border-radius: 15px;
    
}
@media(max-width:800px){
    .container{
        width: 100%;
        
    }
    body{
        width: 90%;
        margin: 10px;
    }
    .media{
    display:inline-block;
    text-align: center;
    margin-left: 20px;
    margin-right: 10px;
    width: auto;
}
.about button{
    color: aqua;
    background-color: rgb(10, 10, 255);
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
}
.industrymid, .infrastructuremid{
border-radius: 10px;
background: rgb(104, 160, 55);
margin: 10px;
width: 100%;
}
.media img{
width: 200px;
}
.vid{
    text-align: center;
    width: 250px;
    border-radius: 5px;
}

}
input{
    display: block;
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 300px;
    border-radius: 10px;
}



.achievements{
    display: inline-block;
    margin-left: 4px;
}
.can{
    text-align: center;
    width: 100%;
}
.img1,.img2{
    border-radius: 10px;
    margin: 10px;
}


.team img{
    width: 190px;
    border-radius: 15px;
}

@media( min-width:800px){
    .container{
        width: 100%;
        
    }
    body{
        width: 98%;
        margin: 10px;
    }
    .media{
    display:flex;
    text-align: center;
    margin-left: 20px;
    margin-right: 10px;
    width: auto;
}
.about button{
    color: aqua;
    background-color: rgb(10, 10, 255);
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
}
.industrymid, .infrastructuremid{
border-radius: 10px;
background: rgb(104, 160, 55);
margin: 10px;
width: 100%;
}
.media img{
width: 200px;
}
.vid{
    text-align: center;
    width: 600px;
    border-radius: 10px;
}


.contact{
    width: 100%;
}
input{
    display: block;
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 1250px;
    border-radius: 10px;
}


.achievements{
    display: flex;
    margin-left: 350px;
}
.can{
    text-align: center;
}
.img1,.img2{
    border-radius: 10px;
    margin: 10px;
}


.team img{
    width: 600px;
    border-radius: 15px;

}
}